version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: qrcode-app
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - AWS_S3_REGION=us-east-1
      - AWS_S3_BUCKET_NAME=qrcode-bucket
      - AWS_S3_ENDPOINT=http://minio:9000
      - AWS_S3_ACCESS_KEY=minioadmin
      - AWS_S3_SECRET_KEY=minioadmin
      # URL que o SEU BROWSER (no host) vai abrir:
      - STORAGE_PUBLIC_BASE_URL=http://localhost:9000/qrcode-bucket
    depends_on:
      - minio
    ports:
      - "8080:8080"

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until mc alias set local http://minio:9000 minioadmin minioadmin; do
        echo 'waiting for minio...';
        sleep 1;
      done;
      mc mb -p local/qrcode-bucket || true;
      mc anonymous set download local/qrcode-bucket || true;
      exit 0;
      "

volumes:
  minio_data:
